# This the configuration file for ShowScrub.py
# If you do not want the script to write to a MySQL DB then remove comment out the [mysqldb] section.
# Currently this config only supports the transmissionrpc

[showscrub]
lookin=
filetypes=avi,mp4

[mysqldb]
host=localhost
dbuser=
dbpass=
dbname=

[trans]
host=localhost
port=9091
user=
pass=

